* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #007BFF;
    margin: 10px 0;
    display: inline-block;
}

a:hover {
    color: #0056b3;
}

nav {
    margin-top: 20px;
}

body > h3 {
    font-size: 24px;
}

body > h2 {
    font-size: 20px;
}

nav a {
    font-size: 16px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-right: 10px;
}

nav a:hover {
    background-color: #007bff;
    color: white;
}
